@keyframes flutuar {

    from {
        transform: translateX(100%);
        filter: blur(200px);
    }

    to {
        transform: translateX(0%);
        filter: blur(0px);
    }
}

@keyframes flutuar2 {

    from {
        transform: translateX(-100%);
        filter: blur(200px);
    }

    to {
        transform: translateX(0%);
        filter: blur(0px);
    }
}

@keyframes flutuar3 {

    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }

}

@keyframes flutuar4 {

    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}


#navbar {
    animation: flutuar3 0.6s ease-in-out;
}

.home-img{
    animation: flutuar 0.6s ease-in-out;
}

.home-text {
    animation: flutuar2 0.6s ease-in-out;
}

.home-bg1 {
    animation: flutuar2 0.6s ease-in-out;
}

.home-bg2 {
    animation: flutuar 0.6s ease-in-out ;
}
